@font-face {
  font-family: "iconfont"; /* Project id 2783162 */
  src: url('iconfont.woff2?t=1630484276063') format('woff2'),
       url('iconfont.woff?t=1630484276063') format('woff'),
       url('iconfont.ttf?t=1630484276063') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e65c";
}

.icon-eye-close:before {
  content: "\e601";
}

.icon-arrow-right:before {
  content: "\e603";
}

.icon-arrow-left:before {
  content: "\e613";
}

.icon-arrow-down:before {
  content: "\e60f";
}

.icon-arrow-up:before {
  content: "\e610";
}

.icon-right:before {
  content: "\e626";
}

.icon-left:before {
  content: "\e627";
}

.icon-down:before {
  content: "\e639";
}

.icon-up:before {
  content: "\e62d";
}

